.btn{
    margin-left: 10px;
    margin-right: 10px;
    
}

.bouton-nav{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    border-radius: 40px !important;
}

.bouton-cercle{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    border-radius: 40px !important;
}


.container {
    display: flex;
    width: 100%;
    margin-top:64px;
}

.sidebar {
    margin-top:64px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #F5F5F5;
    border-right: 2px solid #606060;
    color: #fff;
    transition: all 0.3s;
}


