.btn, .btn2{
    margin-left: 10px;
    margin-right: 10px;
    
}

/* -----------------------------Navbar---------------------------------**/

.bouton-nav{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    height:40px;
    border-radius: 40px !important;
}

.bouton-cercle{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    border-radius: 40px !important;
}

.bell{
    width: 35px;
    fill:#ffffff;
}

.container_ {
    display: flex;
    width: 100%;
    margin-top:64px;
}

/* -----------------------------Sidebar---------------------------------**/

.sidebar {
    margin-top:64px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #F5F5F5;
    border-right: 2px solid #606060;
}

.under_sidebar {
    min-width: 250px;
    background: #F5F5F5;
    border-right: 2px solid #606060;
}

.project_name{
    height:100px;
    border-bottom: 2px solid #606060;
    padding:20px;
}

.img-circle{
    height:100%;
    width:100%;
    border-radius: 50%;
}

.project_menu{
    height:350px;
    border-bottom: 2px solid #606060;
    padding:15px;
}

.menu_item{
    margin-top:10px;
    margin-bottom:10px;
}

.menu_link{
    font-weight: bold;
    color:#3A7FC5;

}

.menu_link:hover{
    color:#0748A6;
    text-decoration:none;
}

.other_projects{
    padding:20px;
}

.other_title{
    color:#606060;
}

.other_list{
    margin-left:20px;
    height:120px;
}

/* -----------------------------Liste-content---------------------------------**/

.carte{
    background-color:#F5F5F5;
    height:100px;
    min-width:200px !important;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:10px;
    margin-top:10px;
    border:1px solid #606060;
    border-radius:10px;
}

.carte:hover{
    background-color:#d6d6d6;
    border:3px solid #3A7FC5;
}

.carte_title{
    color: #606060;
    font-weight: bold;
}

.carte:hover .carte_title{
    color:#3A7FC5;
    font-weight: bold;
}

/* -----------------------------Dashboard-content---------------------------------**/

.content-index li {
    display: flex;
}

span.tag {
    background-color: #F6C342;
    color:#606060;
    border-radius: 10px;
    padding: 3px 10px;
}

span.number {
    width: 10%;
}

span.theme {
    width: 20%;
}

span.nom {
    width: 30%;
}

span.charge {
    width: 30%;
}

span.statut {
    width: 10%;
}

span.orange {
    color: #F6C342;
}
span.rouge {
    color: #CF453C;
}
span.vert {
    color: #1D8830;
}
span.gris {
    color: #486686;
}

.ticket {
    display: flex;
    align-items: center;
}

.ticket span.number {
 font-size: 40px;
 width: auto;
 margin-right: 5px;
 font-weight: bold;
}

.ticket span {
font-size: 12px;
width: 50%;
max-width: 70px;
}


/* -----------------------------Ticket-content---------------------------------**/


.content select {
    padding: 4px 8px;
    width: 75%;
}

.content-ticket {
    width: 100%;
   }

.content-profil form {
    width: 80%;
    max-width: 250px;
}

.content-ticket form {
 display: flex;
 width: 100%;
}

.content-ticket .form-group {
 width: 50%;
}


.content-index li.legende {
    font-weight: bold;
}

.content.content-index{
    width: 100%;
}


.content .btn {
    background-color: #0748A6;
}

.content .btn:hover {
    background-color: #0748A6;
    cursor: pointer;
}

.deconnexion_button{
    height:40px;
    width:150px;
    background-color:#0748A6;
    border-radius:5px;
}

/* -----------------------------Connexion-content---------------------------------**/


form {
    background-color: white;
}

.login-container{
    margin-top: 1%;
    margin-bottom: 1%;
}
.login-form{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form .btnSubmit{
    font-weight: 600;
    color: white;
    background-color: #0748A6;
}
.ForgetPwd{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 5%;
}

.connexion_button{

    height:40px;
    width:150px;
    background-color:#0748A6;
    border-radius:5px;
}