.btn, .btn2{
    margin-left: 10px;
    margin-right: 10px;
    
}

.bouton-nav{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    height:40px;
    border-radius: 40px !important;
}

.bouton-cercle{
    font-weight: bold !important;
    color:#606060;
    background-color:#ffffff;
    border-radius: 40px !important;
}

.bell{
    width: 35px;
    fill:#ffffff;
}

.container_ {
    display: flex;
    width: 100%;
    margin-top:64px;
}

.sidebar {
    margin-top:64px;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #F5F5F5;
    border-right: 2px solid #606060;
}

.under_sidebar {
    min-width: 250px;
    background: #F5F5F5;
    border-right: 2px solid #606060;
}

.project_name{
    height:100px;
    border-bottom: 2px solid #606060;
    padding:20px;
}

.img-circle{
    height:100%;
    width:100%;
    border-radius: 50%;
}

.project_menu{
    height:350px;
    border-bottom: 2px solid #606060;
    padding:15px;
}

.menu_item{
    margin-top:10px;
    margin-bottom:10px;
}

.menu_link{
    font-weight: bold;
    color:#3A7FC5;

}

.menu_link:hover{
    color:#0748A6;
    text-decoration:none;
}

.other_projects{
    padding:20px;
}

.other_title{
    color:#606060;
}

.other_list{
    margin-left:20px;
    height:120px;
}